name: Alerts-test-pgskipper-operator
on:
  workflow_run:
    workflows: ["Build Artifacts"]
    types:
      - completed
  pull_request:
    branches:
      - all

env:
  max_attempts: 30
  delay: 10

permissions:
  contents: read

jobs:
  Run-Alerts-Test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Check yq version
        run: yq --version

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Render rules file from helm chart
        run: |
          helm template pgskipper-montemplates ./charts/patroni-services/. --set metricCollector.install=true --set metricCollector.metricsProfile=dev --set metricCollector.prometheusMonitoring=true --set siteManager.install=true > ./tests/alerts-tests/rules.yaml
          sed -n '/prometheus-rule.yml/,/---/p' -i ./tests/alerts-tests/rules.yaml
          sed '1,18d' -i ./tests/alerts-tests/rules.yaml


      - name: Check that all necessary tests exists
        run: |
          chmod +x ./tests/alerts-tests/tests-checker.sh
          cd ./tests/alerts-tests/
          ./tests-checker.sh       
        continue-on-error: true

      - name: Install vmalert-tool
        run: |
          wget https://github.com/VictoriaMetrics/VictoriaMetrics/releases/download/v1.122.4/vmutils-linux-amd64-v1.122.4-enterprise.tar.gz
          tar -xvf vmutils-linux-amd64-v1.122.4-enterprise.tar.gz
          chmod +x vmalert-tool-prod

      - name: Run test
        run: |
          ./vmalert-tool-prod unittest --files ./tests/alerts-tests/test.yaml