name: Run Pgskipper Pipeline

permissions:
  contents: read
  packages: read
  actions: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        workflow_name:
          - build.yaml
    steps:
      - name: Wait for ${{ matrix.workflow_name }}
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d
        with:
          workflow: ${{ matrix.workflow_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Pgskipper-Pipeline:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: Wait-for-images
    uses: Netcracker/qubership-test-pipelines/.github/workflows/pgskipper.yaml@acf44dc8f22430d11eb93a679bf54e99b69ee6a2 #v1.5.0
    with:
      repository_name: ${{ github.repository }}
      service_branch: '${{ github.head_ref || github.ref_name }}'
      pipeline_branch: 'acf44dc8f22430d11eb93a679bf54e99b69ee6a2' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}

