name: Run Pgskipper Pipeline

permissions:
  contents: read
  packages: read
  actions: read

# on:
#   pull_request:
#     types: [opened, synchronize, reopened]
#     branches: [main]
on:
  push

jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false 
      matrix:
        workflow_name: 
          - build-backup-daemon.yaml
          - build-dbaas-adapter.yaml
          - build-monitoring-agent.yaml
          - build-operator.yaml
          - build-patroni.yaml
          - build-pgbackrest-sidecar.yaml
          - build-query-exporter.yaml
          - build-replication-controller.yaml
          - build-upgrade.yaml
    steps:
      - name: Wait for ${{ matrix.workflow_name }}
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d
        with:
          workflow: ${{ matrix.workflow_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Pgskipper-Pipeline:
    uses: Netcracker/qubership-test-pipelines/.github/workflows/pgskipper.yaml@pgskipper
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'pgskipper' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
