name: Run Pgskipper Pipeline

#on:
#  pull_request:
#    types: [opened, synchronize, reopened]
#    branches: [main]

on:
  push

jobs:
  Pgskipper-Pipeline:
    uses: Netcracker/qubership-test-pipelines/.github/workflows/pgskipper.yaml@pg_skipper
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'pg_skipper' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
