name: Run Pgskipper Pipeline

#on:
#  pull_request:
#    types: [opened, synchronize, reopened]
#    branches: [main]

on:
  push
jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.wait.outputs.conclusion }}
    steps:
      - name: Wait for operator image build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait
        with:
          workflow: build-backup-daemon.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait2
        with:
          workflow: build-dbaas-adapter.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait3
        with:
          workflow: build-monitoring-agent.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait4
        with:
          workflow: build-operator.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait5
        with:
          workflow: build-patroni.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait6
        with:
          workflow: build-pgbackrest-sidecar.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait7
        with:
          workflow: build-query-exporter.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait8
        with:
          workflow: build-replication-controller.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
      - name: Wait for images build to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@3e428f45132119ce49d90f3770a45d4fe1d1078d  # v2.0.4
        id: wait9
        with:
          workflow: build-upgrade.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Pgskipper-Pipeline:
    needs: Wait-for-images
    uses: Netcracker/qubership-test-pipelines/.github/workflows/pgskipper.yaml@pgskipper
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'pgskipper' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
