name: Run Pgskipper Pipeline

permissions:
  contents: read
  packages: read
  actions: read

on:
  workflow_run:
    workflows: ["Build Pgskipper Components"]
    types: [completed]

jobs:
  Pgskipper-Pipeline:
    if: >
      ${{
        github.event.workflow_run.event == 'pull_request' &&
        github.event.workflow_run.conclusion == 'success'
      }}
    needs: Wait-for-images
    uses: Netcracker/qubership-test-pipelines/.github/workflows/pgskipper.yaml@64c278a28633ba06f64b93de1ef5f35ec3d75ed9 #v1.4.0
    with:
      repository_name: ${{ github.repository }}
      service_branch: '${{ github.head_ref || github.ref_name }}'
      pipeline_branch: '64c278a28633ba06f64b93de1ef5f35ec3d75ed9' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}

